
    <ion-header-bar class="bar-stable bar bar-positive" align-title="center" >
        <h1 class="title myTitle">{{configdata.areaname}}</h1>
        <button class="button button-icon icon ion-android-menu"
                ng-click="configmodal.show()"
                side="right" >
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col  mygrid">
                <button class="button myButton">&nbsp;{{data1.title2}}&nbsp;<br>&nbsp;{{data1.title}}&nbsp;</button>

                <div class="scrolldiv">
                    <ion-scroll  zooming="true" class="ion-list-viewport">
                        <ion-list >
                            <ion-item ng-repeat="item in data1.data" ng-class="'listitem'">
                                {{item.hzxh.length==1?"&nbsp;&nbsp;":""}}{{item.hzxh}} {{item.hzxm}} {{item.hzxm.length==2?"&nbsp;&nbsp;":""}}
                            </ion-item>
                        </ion-list>

                    </ion-scroll>
                </div>



            </div>
            <div class="col  mygrid">
                <button class="button myButton">&nbsp;{{data2.title2}}&nbsp;<br>&nbsp;{{data2.title}}&nbsp;</button>
                <div class="scrolldiv">
                    <ion-scroll class="ion-list-viewport">
                        <ion-list  >
                            <ion-item  ng-repeat="item in data2.data" ng-class="'listitem'">
                                {{item.hzxh.length==1?"&nbsp;&nbsp;":""}}{{item.hzxh}} {{item.hzxm}} {{item.hzxm.length==2?"&nbsp;&nbsp;":""}}
                            </ion-item>
                        </ion-list>

                    </ion-scroll>

                </div>
            </div>
            <div class="col  mygrid">
                <button class="button myButton">&nbsp;{{data3.title2}}&nbsp;<br>&nbsp;{{data3.title}}&nbsp;</button>
                <div class="scrolldiv">
                    <ion-scroll class="ion-list-viewport">
                        <ion-list   >
                            <ion-item  ng-repeat="item in data3.data" ng-class="'listitem'">
                                {{item.hzxh.length==1?"&nbsp;&nbsp;":""}}{{item.hzxh}} {{item.hzxm}} {{item.hzxm.length==2?"&nbsp;&nbsp;":""}}
                            </ion-item>
                        </ion-list>

                    </ion-scroll>

                     </div>

            </div>
            <div class="col  mygrid">
                <button class="button myButton">&nbsp;{{data4.title2}}&nbsp;<br>&nbsp;{{data4.title}}&nbsp;</button>
                <div class="scrolldiv">
                    <ion-scroll class="ion-list-viewport">
                        <ion-list  >
                            <ion-item  ng-repeat="item in data4.data" ng-class="'listitem'">
                                {{item.hzxh.length==1?"&nbsp;&nbsp;":""}}{{item.hzxh}} {{item.hzxm}} {{item.hzxm.length==2?"&nbsp;&nbsp;":""}}
                            </ion-item>
                        </ion-list>

                    </ion-scroll>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col  mygrid">
                <button class="button myButton">&nbsp;{{data5.title2}}&nbsp;<br>&nbsp;{{data5.title}}&nbsp;</button>
                <div class="scrolldiv" >
                    <ion-scroll class="ion-list-viewport">
                        <ion-list   >
                            <ion-item  ng-repeat="item in data5.data" ng-class="'listitem'">
                                {{item.hzxh.length==1?"&nbsp;&nbsp;":""}}{{item.hzxh}} {{item.hzxm}} {{item.hzxm.length==2?"&nbsp;&nbsp;":""}}
                            </ion-item>
                        </ion-list>

                    </ion-scroll>

                </div>

            </div>
            <div class="col  mygrid">
                <button class="button myButton">&nbsp;{{data6.title2}}&nbsp;<br>&nbsp;{{data6.title}}&nbsp;</button>
                <div class="scrolldiv">
                    <ion-scroll class="ion-list-viewport">
                        <ion-list   >
                            <ion-item  ng-repeat="item in data6.data" ng-class="'listitem'">
                                {{item.hzxh.length==1?"&nbsp;&nbsp;":""}}{{item.hzxh}} {{item.hzxm}} {{item.hzxm.length==2?"&nbsp;&nbsp;":""}}
                            </ion-item>
                        </ion-list>

                    </ion-scroll>

                </div>

            </div>
            <div class="col  mygrid">
                <button class="button myButton">&nbsp;{{data7.title2}}&nbsp;<br>&nbsp;{{data7.title}}&nbsp;</button>
                <div class="scrolldiv">
                    <ion-scroll class="ion-list-viewport">
                        <ion-list   >
                            <ion-item  ng-repeat="item in data7.data" ng-class="'listitem'">
                                {{item.hzxh.length==1?"&nbsp;&nbsp;":""}}{{item.hzxh}} {{item.hzxm}} {{item.hzxm.length==2?"&nbsp;&nbsp;":""}}
                            </ion-item>
                        </ion-list>

                    </ion-scroll>
                </div>

            </div>
            <div class="col  mygrid">
                <button class="button myButton">&nbsp;{{data8.title2}}&nbsp;<br>&nbsp;{{data8.title}}&nbsp;</button>
                <div class="scrolldiv">
                    <ion-scroll class="ion-list-viewport">
                        <ion-list   >
                            <ion-item  ng-repeat="item in data8.data" ng-class="'listitem'">
                                {{item.hzxh.length==1?"&nbsp;&nbsp;":""}}{{item.hzxh}} {{item.hzxm}} {{item.hzxm.length==2?"&nbsp;&nbsp;":""}}
                            </ion-item>
                        </ion-list>

                    </ion-scroll>

                </div>

            </div>
        </div>
    </ion-content>

