<ion-pane>
    <ion-header-bar class="bar-stable bar bar-positive" align-title="center" >
        <h1 class="title myTitle">{{configdata.areaname}}</h1>
        <!--<button class="button button-icon icon ion-android-menu"
                ng-click="configmodal.show()"
                side="right" >
        </button>-->
    </ion-header-bar>
    <ion-content>

        <ion-scroll  zooming="false">
            <div  class="scroll-view"><marquee height="100%" direction=up align=middle  scrollamount=2>
                <div style="text-align: center;height: 100%;padding: 20px;font-size: xx-large;">
                    12121212<br>12121212<br>
                    12121212<br>
                    12121212<br>
                    12121212<br>12121212<br>
                    12121212<br>
                    12121212<br>
                    12121212<br>

                </div>


            </marquee></div>

        </ion-scroll>

    </ion-content>
</ion-pane>